@using Vacancies.DAL.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Vacancy>
<link href="~/css/Styles.css" rel="stylesheet">
<div class="button"><a asp-controller="Home" asp-action="Index">Назад</a></div>
<div>
    @foreach (var vacancy in Model)
    {
        @Html.Partial("~/Views/Vacancies/Vacancy.cshtml", vacancy)    
    }
</div>